/* Project spaning styles */

/* Main styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #043a63;
  color: white;
}

#logga {
  display: flex;
  align-items: center;
  padding: 20px;
}

#logga > img {
  width: 100px;
  height: 100px;
}

nav {
  background-color: #002447;

  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin: 0px;
  padding: 0px;
}

nav > img {
  width: 40px;
  filter: invert(100%);
}

#login {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

footer {
  background-color: #002447;
  padding: 30px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Text styles */

p {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-size: 32px;
  margin: 32px;
}

h4 {
  margin: 0px;
}

h4 > a {
  color: #ffffff;
}

h5 {
  color: #ffffff;
  font-size: 32px;
  margin: 0px;
  padding: 25px;
  padding-left: 50px;
}

h6 {
  color: #ffffff;
  font-size: 18px;
  margin: 0px;
  padding: 10px;
  padding-left: 100px;
}

/* Main page specific styles */

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-image: url(img/main-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  height: 800px;
  color: #ffffff;
}

#main-page h1 {
  font-size: 128px;
}

#main-page h2 {
  font-size: 56px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0px;
}

#main-page button {
  border-radius: 20px;
  border-width: 5px;
  border-color: #002447;
  background-color: #043a63;

  color: #ffffff;
}

#main-page article {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#main-page article p {
  width: 40%;
}

#organisationInfo {
  flex-direction: row;
}

#troupeInfo {
  flex-direction: row-reverse;
}

@media (max-width: 500px) {
  #main-page article {
    flex-direction: column;
  }
}

/* Sign in specific styles */

.sign-in-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.sign-in-form {
  width: 40%;
}

.sign-in-form input {
  font-size: 18px;
}

.sign-in-field {
  display: flex;
  align-items: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

#remember-me {
  display: flex;
  align-items: center;
}

/* Signed in scout specific styles */

#scout-main {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 500px) {
  #scout-main {
    flex-direction: column;
  }

  .calender {
    width: 100%;
  }

  .chat {
    width: 100%;
  }
}

.calender {
  width: 40%;
}

.calender-entry {
  margin: 10px;
}

.calender-entry input {
  border: 0;
  background-color: inherit;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}

.calender-entry-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cee3f0;
  width: 100%;
}

.calender-entry-button > img {
  width: 40px;
  height: auto;
}

.calender-entry-button h2 {
  margin: 0px;
  padding: 10px;
}

.calender-entry-text {
  display: flex;
}

.calender-entry-block {
  background-color: #cee3f0;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.calender-entry-block h2 {
  margin: 0px;
}

.calender-entry-block p {
  margin: 0px;
  padding: 10px;
}

.calender-description {
  width: 100%;
}

/* Contact styles */

#contact-main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h2 {
  margin-left: 20px;
}

.map img {
  margin: 20px;
}

.unit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 50px;
  margin-bottom: 20px;
}

.unit > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unit img {
  height: 200px;
}

.unit h2 {
  padding: 10px;
}

.unit p {
  margin-left: 25px;
  padding: 5px;
}

/* CSS classes */

.hidden {
  display: none;
}

/* Chat */

.chat {
  width: 40%;
}

#messages {
  padding-bottom: 30%;
}

#chat li {
  list-style-type: none;
  margin-bottom: 10px;
  background-color: #cee3f0;
  padding: 5px;
  border-radius: 10px;
  color: #000000;
  width: 70%;

  display: flex;
  flex-direction: column;
  text-align: left;
}

#chat li span {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: bolder;
  color: #000000;
}

#chat {
  width: 80%;
  margin: auto;
}

#message-form {
  text-align: center;
  width: 100%;
  background-color: #cee3f0;
}

#chat input {
  width: 70%;
  height: 30px;
}

#chat button {
  width: 25%;
  height: 38px;
}

#chat .sent {
  background-color: #609ac4;
  margin-left: 30%;
}

#chat .sent span {
  display: none;
}
